@font-face {
    font-family: estedad;
    src: url(/client/assets/fonts/Estedad-ExtraLight.ttf);
    font-weight: 100
}

@font-face {
    font-family: estedad;
    src: url(/client/assets/fonts/Estedad-Thin.ttf);
    font-weight: 200
}

@font-face {
    font-family: estedad;
    src: url(/client/assets/fonts/Estedad-Light.ttf);
    font-weight: 300
}

@font-face {
    font-family: estedad-regular;
    src: url(/client/assets/fonts/Estedad-Regular.ttf);
    font-weight: 400
}

@font-face {
    font-family: estedad-medium;
    src: url(/client/assets/fonts/Estedad-Medium.ttf);
    font-weight: 500
}

@font-face {
    font-family: estedad;
    src: url(/client/assets/fonts/Estedad-SemiBold.ttf);
    font-weight: 600
}

@font-face {
    font-family: estedad-bold;
    src: url(/client/assets/fonts/Estedad-Bold.ttf);
    font-weight: 700
}

@font-face {
    font-family: estedad;
    src: url(/client/assets/fonts//Estedad-ExtraBold.ttf);
    font-weight: 800
}

@font-face {
    font-family: estedad-black;
    src: url(/client/assets/fonts/Estedad-Black.ttf);
    font-weight: 900
}

@font-face {
    font-family: estedad-fd;
    src: url(/client/assets/fonts/Estedad-FD-Bold.ttf);
    font-weight: 700
}

.font-estedad {
    font-family: estedad;
}

body {
    font-family: estedad;
}

.display-one {
    font-family: estedad-bold;
    font-weight: bold;
    font-size: 4rem;
    line-height: 140%;
}

.display-two {
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 120%;
}

.h {
    font-family: estedad-bold;
    font-weight: bold;
    line-height: 140%;
}

.h-one {
    font-size: 2.75rem;
}

.h-two {
    font-size: 2.5rem;
}

.h-three {
    font-size: 2rem;
}

.h-four {
    font-size: 1.5rem;
}

.h-five {
    font-size: 1.25rem;
}

.h-six {
    font-size: 1rem;
}

.body-text {
    font-family: estedad-regular;
    line-height: 180%;
    font-weight: bold;
}

.body-xl {
    font-family: estedad-regular;
    font-size: 1.5rem;
}

.body-md {
    font-family: estedad-regular;
    font-size: 1.25rem;
}

.button-lg {
    font-family: estedad-medium;
    font-size: 1rem;
    line-height: 180%;
}